.d-flex {
  display: flex!important;
}

.justify-content-center {
  justify-content: center!important;
}

.border-0 {
  border: 0!important;
}

a {
  color: var(--bs-link-color);
  text-decoration: none;
}

